.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.header {
  display: flex;
  height: 15vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: center;

  transition: height 0.75s ease-in-out;
}

.header.fullscreen {
  height: 100vh;
}

.navlink {
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  text-decoration: none;
  color: #1b8e04;
}

.navlink+.navlink {
  margin-left: 1em;
}

.content {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
